@use "var" ; 
// @use "sass:math" as math;  
// @use "sass:map" as map; 
@import url(/src/fonts/stylesheet.css);

// $theme-color : ( 
//     "warning": #ffff00 , 
//     "info": #00ffff , 
//     "success": #00ff00
// ); 
// body::after { 
//     content: 'math.$pi' ; 
//     display: block;
//     // background-color: var.$white;
//     background-color: map.get($theme-color , 'info');
//     position: fixed; 
//     top:0 ; left: 0 ; right: 0 ; bottom: 0;
//     z-index: 3000;
// };




 

.text-blue {
    color: var.$blue; 
}
.text-black { 
    color: var.$black; 
}
.text-light-black {
    color: var.$light-black ;
}
.text-dark-gray { 
    color: var.$dark-gray;
}
.text-gray {
    color: var.$gray ;
}
.text-white { 
    color: var.$white; 
}

.bg-blue {
    background-color: var.$blue;
}
.bg-black {
    background-color: var.$black;
}
.bg-light-black {
    background-color: var.$light-black;
}
.bg-dark-gray {
    background-color: var.$dark-gray;
}
.bg-gray {
    background-color: var.$gray;
}
.bg-white {
    background-color: var.$white;
}

.center-elems {
    display: flex;
    justify-content: center;
    align-items: center;
}



body { 
    background-color: var.$black; 
    direction: rtl;
    font-family: 'B Roya';
    * {
        font-family: inherit;
    }
}

* { 
    margin:0 ; 
    padding: 0;
    box-sizing: border-box;
}

a {
    color:inherit; 
    text-decoration: none;
}

.top-header { 
    display: flex;
    justify-content: space-between;
    width:100%; 
    height: 120px;   
    .main-logo-c { 
        min-width: 400px;
        display: flex;
        justify-content: space-evenly;
        img { 
            width:100px; 
            height: 100px;
        }
        .logo-text-c { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 1rem;
            }
        }
    }
    .login-buttons-c { 
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: bold;
        
        
        a { 
            width:100%; 
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .signin-btn {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background: transparent ; 
            border: 2px solid var.$blue; 
            color: var.$gray; 
            cursor: pointer;    
        }
        .login-btn { 
            width: 100px; 
            height: 30px;
            border-radius: 5px;
            background-color: var.$blue;
            border: none; 
            cursor: pointer;
        }
        button:hover { 
            box-shadow: 0 0 10px var.$blue;
        }
        .login-modal { 
            display: none;
            position:absolute; 
            top:0; left:0; right:0 ; bottom:0;
            background-color: #0009;
            z-index: 2000;
            // display: flex;
            justify-content: center;
            align-items: center;
            .close-btn { 
                font-size: 10rem;
                color: #fff; 
                user-select: none;
                cursor: pointer;
                position: absolute;
                top:0px; 
                right:10px;
                text-shadow: 0px 0px 15px var.$white;
            }
            form { 
                width:400px; 
                height: 450px;
                background-color:var.$white;
                border-radius: 15px;
                box-shadow: 2px 2px 30px var.$gray;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px 30px;
                font-size: 1.3rem;
                > * { 
                    width: 100%;
                    height: 50px;
                    
                }
                input[type="text"] , input[type="password"] { 
                    display: block;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border:2px solid var.$dark-gray;
                    background-color: var.$gray;
                    direction: ltr;
                }
                .submit-c { 
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    button { 
                        width: 100%;
                        height: 40px;
                        border-radius: 5px;
                        color: black;
                        font-weight: bolder;
                    }   
                }
            }
        }
    }
}

main { 
    width: 100%; 
    position: absolute;
    top:120px; bottom:0 ; right:0; left:0;
    border:1px solid var.$light-black;
    border-right: none;
    border-left:none;
    nav { 
        width: 300px; 
        height: 100%;
        border-left:1px solid var.$light-black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        > ul { 
            font-weight: bolder;
            list-style: none;
            width:280px; 
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            > li { 
                height: 50px;
                width: 100%;
                > a { 
                    display: block;
                    width:100%; 
                    height: 100%;
                    position: relative;
                    > .outer-bullet { 
                        width:50px; 
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        z-index: 100;
                        > .inner-bullet { 
                            width:50%; 
                            height: 50%;
                            // background-color: var.$blue;                        
                            background-size: 100% 100%;
                            // border-radius: 50%;
                            transition: transform 0.5s;
                            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                    > .nav-item { 
                        font-size: 1.3rem;
                        width: 230px + 25px;
                        padding-right:40px;
                        position:absolute; 
                        top:0; left:0; bottom:0;
                        display: flex;
                        align-items: center;
                        z-index: 10;
                    }
                                        
                }
                &.active .nav-item { 
                    background-color: var.$blue;
                }
                &.active .outer-bullet {
                    background-color: var.$white;
                }
                &.active .inner-bullet {
                    filter: grayscale(1);
                }
                &:hover:not(.active) .nav-item {
                    background-color: var.$dark-gray;
                    color:var.$black;
                }
                &:hover:not(.active) .inner-bullet {
                    transform: translateX(-15px);
                    filter: drop-shadow(1px 1px  #222);
                }
                &:nth-child(1) .inner-bullet{ 
                    background: url(/images/icons/home-icon.svg) no-repeat;
                }
                &:nth-child(2) .inner-bullet{ 
                    background: url(/images/icons/product.svg) no-repeat;
                }
                &:nth-child(3) .inner-bullet{ 
                    background: url(/images/icons/credit-card-icon.svg) no-repeat;
                }
                &:nth-child(4) .inner-bullet{ 
                    background: url(/images/icons/contact-us-icon.svg) no-repeat;
                }
                &:nth-child(5) .inner-bullet{ 
                    background: url(/images/icons/other-product.svg) no-repeat;
                }
            }
        }
    }
    .main-app { 
        position: absolute; 
        top:0; bottom:0; right:300px; left:0;
        background-color:#1a1e20;
    }
}

* { 
    // outline:1px solid red;
}